<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawBook</title>
    <link rel="icon" href="./../../storage/images/paw.png" type = "image/x-icon">
</head>
<body style="background-color: lightblue">
    <h1>PAW BOOK!</h1>
    <img src="https://i.pinimg.com/originals/16/7c/4b/167c4be0744c2f9ba323f75c42597e15.png" style="width: 50%;">
</body>
</html>