<p>
    <mat-toolbar>
    <button (click)="home()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <button (click)="pets()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>pets</mat-icon>
    </button>
    <button (click)="post()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>PawBook</span>
   <button *ngIf="isLogged" mat-fab color="warn" class="cerrarSesion" (click)="logout()">
       <mat-icon>exit_to_app</mat-icon>
   </button>
  </mat-toolbar>
  </p>