div{
    background: linear-gradient(to right,rgb(184, 184, 184), rgb(230, 230, 230));
    height: 100px;
    text-align: center;
    color: black;
}
h1{
    margin: 0px;
    padding: 25px;
    font-family: 'Roboto', sans-serif, monospace;
    font-weight: lighter;
}
.cerrarSesion{
    text-align: center;
    height: 40px;
    width: 40px;
    color: white;
    position:absolute;
    right:10px;
    top:10px;
    background-color: red;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
  
.cerrarSesion:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgb(197, 0, 0);
    color: #fff;
    transform: translateY(-7px);
}