<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <h2>Filters</h2>
        <hr>
        <mat-selection-list #filters>
            <h3>Raza</h3>
            <!-- <mat-list-option #raza>Raza {{raza.selected}}</mat-list-option> -->
            <mat-list-option (click)="addFilter('Chico')">Chico</mat-list-option>
            <mat-list-option (click)="addFilter('Mediano')">Mediano</mat-list-option>
            <mat-list-option (click)="addFilter('Grande')">Grande</mat-list-option>
            <h3>Especie</h3>
            <mat-list-option (click)="addFilter('Perro')">Perros</mat-list-option>
            <mat-list-option (click)="addFilter('Gato')">Gatos</mat-list-option>
            <h3>Edad</h3>
            <mat-list-option (click)="addFilter('0-2')">0 - 2 años</mat-list-option>
            <mat-list-option (click)="addFilter('3-6')">3 - 6 años</mat-list-option>
            <mat-list-option (click)="addFilter('6-9')">6 - 9 años</mat-list-option>
            <mat-list-option (click)="addFilter('9+')">9 +</mat-list-option>
          </mat-selection-list>
          <p>
            #Selected: {{filters.selectedOptions.selected.length}}
          </p>
    </mat-drawer>
    <mat-drawer-content>
        <div class="mainDiv">
            <h2 *ngIf="isPetsEmpty">No hay mascotas que coincidan con los filtros seleccionados</h2>
            <mat-card *ngFor="let pet of pets">
                <img src="{{pet.image}}" class="imgDog">
                <mat-card-title><br>{{pet.name}}</mat-card-title>
                <mat-card-subtitle>{{pet.raza}}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-fab class="moreInfo" (click)="moreInfo(pet._id)">
                        <mat-icon>info</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-paginator [length]="10"
              [pageSize]="10"
              [pageSizeOptions]="[1, 3, 6, 10]"
              aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>