<div class="mainDiv">
    <div class="grayDiv">
        <div class="introText">
            <br>
            <h1>PawBook</h1>
                <br>
                <hr>
                <br>
                <p>
                    PawBook es un sitio que permite la interconexión entre rescatistas y adoptantes 
                    de mascotas. Aqui podrás encontrar a las mascotas que están buscando un hogar y 
                    podrás solicitar su adopción. 
                    Si eres un escatista puedes publicar mascotas ya sea que se encuentren en un refugio en específico o los tengan personas particulares. La solicitud de adopción que envíen los usuarios será enviada a el rescatista que publicó a la mascota.
                    Al adoptar a un perro abandonado contribuyes a reducir el número de perros que 
                    viven en dichas entidades, y a mejorar las condiciones de los que esperan que 
                    alguien los adopte. 
                </p>
        </div>
    </div>
    <div class="imageDiv">
        <img src="https://cdna1.zoeysite.com/Adzpo594RQGDpLcjBynL1z/cache=expiry:31536000//auto_image/compress/https://s3.amazonaws.com/zcom-media/sites/a0i0h00000NsyvFAAR/media/blog/Pets.png">
    </div>
    <div class="blankDiv"></div>
    <div class="secondDiv">
        <h1>Adopta hoy mismo a alguien que te necesita</h1>
        <div class="gallery">
            <div class="gallery1">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/78/White_paw_print.svg/420px-White_paw_print.svg.png" class="imgGallery">
                <h3>Macotas</h3>
                <hr>
            </div>
            <div class="gallery3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png" class="imgGallery">
                <!-- <img src="http://cdn.onlinewebfonts.com/svg/img_463224.png" class="imgGallery"> -->
                <h3>Solicitudes</h3>
                <hr>
            </div>
            <div class="gallery2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Plan_icon_WHITE-01.svg/2048px-Plan_icon_WHITE-01.svg.png" class="imgGallery">
                <h3>Historial</h3>
                <hr>
            </div>
        </div>
    </div>
</div>
