.topDiv{
    height: 250px;
}
.imgDog{
    align-self: center;
    position: absolute;
    width: 55vh;
    left: 35%;
}
.bottomDiv{
    height: 400px;
    background-color: lightgray;
    margin: 30px;
    padding-left: 5%;
    text-align: center;
}
h1{
    font-family: Optima, sans-serif;
    letter-spacing: 1px;
    font-size: 2em;
}
mat-card{
    width: 18%;
    height: 25%;
    margin: 15px;
    text-align: center;
    box-shadow: none !important;
    display: inline-block;
    font-family: Optima, sans-serif;
    letter-spacing: 1px;
}
.blankDiv{
    height: 7%;
    background-color: lightgray;
}
.sendApplication:hover{
    background-color: rgb(134, 235, 230) !important;
    cursor: pointer;
}