<div *ngFor="let pets of pet">
    <div class="topDiv">
        <img src="{{pets.image}}" class="imgDog">
    </div>
    <div class="bottomDiv">
        <div class="blankDiv"></div>
        <h1><br>{{pets.name}}</h1>
        <mat-card>
            <mat-icon>location_on</mat-icon>
            <mat-card-title>Age</mat-card-title>
            <mat-card-subtitle>{{pets.age}}</mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-icon>gender</mat-icon>
            <mat-card-title>Sexo</mat-card-title>
            <mat-card-subtitle>Macho</mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-icon>location_on</mat-icon>
            <mat-card-title>Ubicación</mat-card-title>
            <mat-card-subtitle>{{pets.location}}</mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-icon>calendar_today</mat-icon>
            <mat-card-title>Dia de Rescate</mat-card-title>
            <mat-card-subtitle>{{pets.rescuedDate}}</mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-icon>pets</mat-icon>
            <mat-card-title>Tamaño</mat-card-title>
            <mat-card-subtitle>{{pets.size}}</mat-card-subtitle>
        </mat-card>
        <mat-card class="sendApplication" (click)="send()">
            <mat-icon>done_all</mat-icon>
            <mat-card-title>Apply</mat-card-title>
            <mat-card-subtitle>Send Application</mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-icon>pets</mat-icon>
            <mat-card-title>Raza</mat-card-title>
            <mat-card-subtitle>{{pets.raza}}</mat-card-subtitle>
        </mat-card>
    </div>
</div>
