.topDiv{
    height: 250px;
}
.imgDog{
    position: absolute;
    width: 55vh;
    left: 35%;
}
.bottomDiv{
    // height: 400px;
    background-color: lightgray;
    margin: 30px;
    padding-left: 5%;
    text-align: center;
}
h1{
    font-family: Optima, sans-serif;
    letter-spacing: 1px;
    font-size: 2em;
}
mat-card{
    width: 18%;
    height: 25%;
    margin: 15px;
    text-align: center;
    box-shadow: none !important;
    display: inline-block;
    font-family: Optima, sans-serif;
    letter-spacing: 1px;
}
.blankDiv{
    height: 7%;
    background-color: lightgray;
}
.sendApplication:hover{
    cursor: pointer;
    box-shadow: 0px 15px 20px black;
    background-color: rgb(61, 190, 190);
    transform: translateY(-7px);
}